# Archivos de compilación y dependencias
**/bin/
**/obj/
**/packages/
*.user
*.suo

# Configuración de IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración sensible
appsettings*.json
.vs/ProjectEvaluation/utilidades.metadata.v10.bin
.vs/ProjectEvaluation/utilidades.projects.v10.bin
.vs/ProjectEvaluation/utilidades.strings.v10.bin
.vs/Utilidades/DesignTimeBuild/.dtbcache.v2
.vs/Utilidades/FileContentIndex/b19b4603-fa93-4dec-99dd-6044f0b47a75.vsidx
.vs/Utilidades/v18/.futdcache.v2
.vs/Utilidades/v18/DocumentLayout.backup.json
.vs/Utilidades/v18/DocumentLayout.json
