# Archivos de compilación y dependencias
**/bin/
**/obj/
**/packages/
*.user
*.suo

# Configuración de IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración sensible
appsettings*.json